@{
  Layout = "_Layout";
}

<h1>Input a word or leave blank to get a random word.</h1>

<form action="/games" method="post">
  <label for="newWord">Enter word here:</label>
  <input id="newWord" name="word" type="text">
  <button type="submit">Submit</button>
</form>