<head>
  <link rel="stylesheet" href="~/css/styles.css" />
</head>

<div id="incorrect-guesses">
  <h2>Incorrect Guesses:</h2>
  @foreach (char guessed in Model.IncorrectGuesses)
  {
    <h3 class="inline-h3">@guessed</h3>
  }
  <h2>Guesses Remaining: @(6 - Model.IncorrectGuessCounter)</h2>
</div>

<div id="hangman-image">
@{
  switch(Model.IncorrectGuessCounter)
  {
    case 0:
      <img src="~/img/hangman0.png" alt="A drawing of hangman." />
      break;
    case 1:
      <img src="~/img/hangman1.png" alt="A drawing of hangman." />
      break;
    case 2:
      <img src="~/img/hangman2.png" alt="A drawing of hangman." />
      break;
    case 3:
      <img src="~/img/hangman3.png" alt="A drawing of hangman." />
      break;
    case 4:
      <img src="~/img/hangman4.png" alt="A drawing of hangman." />
      break;
    case 5:
      <img src="~/img/hangman5.png" alt="A drawing of hangman." />
      break;
    case 6:
      <img src="~/img/hangman6.png" alt="A drawing of hangman." />
      break;
  }
}
</div>

<div id="fill-in-blanks">
  @foreach (char letter in Model.Word)
  {
    if (Model.CorrectLetters[letter] == true)
    {
      <h3 class="inline-h3">@letter</h3>
    }
    else
    {
      <h3 class="inline-h3">_</h3>
    }
  }
</div>
@if(Model.CheckForWin())
{
  <h1>Congrats you win!</h1>
  <a href="/games/new">Play a new game?</a>
}
else if(Model.CheckForLose())
{
  <h1>Sorry, you lost!</h1>
  <a href="/games/new">Play a new game?</a>
}
else 
{
  <form action="/games/@Model.Id" method="post">
    <input id="game-id" name="id" type="hidden" value="@Model.Id">
    <label for="guess">Guess a letter:</label>
    <input id="guess" name="letter" pattern="[A-Za-z]" type="text" maxlength="1" required>
    <button type="submit">Guess!</button>
  </form>
}