<head>
  <link rel="stylesheet" href="~/css/styles.css" />
</head>

<div id="incorrect-guesses">
  <h2>Incorrect Guesses:</h2>
  @foreach (char guessed in Model.IncorrectGuesses)
  {
    <h3>@guessed</h3>
  }
  <h2>Guesses Remaining: @(6 - Model.IncorrectGuessCounter)</h2>
</div>

@* image of hangman *@

<div id="fill-in-blanks">
  @foreach (char letter in Model.Word)
  {
    if (Model.CorrectLetters[letter] == true)
    {
      <h3>@letter</h3>
    }
    else
    {
      <h3>_</h3>
    }
  }
</div>
@if(Model.CheckForWin())
{
  //win
  //link to new game
}
else if(Model.CheckForLose())
{
  //lose
  //link to new game
}
else 
{
  <form action="/games/@Model.Id" method="post">
    <input id="game-id" name="id" type="hidden" value="@Model.Id">
    <label for="guess">Guess a letter:</label>
    <input id="guess" name="letter" type="text" maxlength="1" required>
    <button type="submit">Guess!</button>
  </form>
}